<h1>New Tournament</h1>



<form action="setup_to_score" method = "POST" >
 <strong> Date</strong><br>
<input type="date" name="date"> <br><br>

 <strong>Course</strong><br>
<input type="text" name="course"> <br><br>

  <strong>Who's Playing?</strong><br><br>

<table>


  <tbody>
     <% @members = Golfer.all %>
    <% @members.each do |member| %>
      <tr>
      
          <input type="checkbox" name="golfer" value=<%= member.id %>> <%= member.name %>

      </tr><br>
    <% end %>
  </tbody>
</table>
<input type="submit" name="Submit">

</form>

<br><br><br><br>

<%= link_to 'Back', tournaments_path %>
