<!DOCTYPE html>
<html>
<head>
	<title>San Diego Hookers and Slicers</title>
</head>
<body>

<h1>Welcome to the Golf Game App</h1>

</body>
</html>

<%= link_to 'scores_path', scores_path %>

<%= link_to 'Add a Golfer', golfers_path %>

<%= link_to 'Create New Tournament', tournaments_path %>